<footer class="page-footer text-center font-small mt-4 wow fadeIn">

    <hr class="my-4">

    <!--Call to action-->
    <div class="pt-4">
      <a class="btn btn-outline-white" 
        href="https://namu.wiki/w/%EC%84%B8%ED%98%B8%EC%95%BC%20%EB%98%90%20%EC%86%8D%EB%83%90!!" 
        target="_blank" role="button">
        Free Coupon Site
      </a>
      <a class="btn btn-outline-white" 
        href="http://127.0.0.1:8000/request-refund/"
        target="_blank" role="button">
        Refund Request
      </a>
    </div>
    <!--/.Call to action-->

    <hr>

    <!-- Social icons -->
    <div class="pb-4">
      <a href="https://www.facebook.com/donghyung.kim.37051/" target="_blank">
        <i class="fab fa-facebook-f mr-3"></i>
      </a>

      <a href="https://github.com/eastbro-1776" target="_blank">
        <i class="fab fa-github mr-3"></i>
      </a>

    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2021 Copyright
      <a href="https://mdbootstrap.com/education/bootstrap/" target="_blank"> WishList.com<br>
        숭실대학교 컴퓨터학부 | 김동형, 김시현, 김유림, 이재훈 | 서울특별시 동작구 상도로 369 숭실대학교 (우편번호 06978)<br>
        사업자 등록 번호 : 99-00-01-02 | 통신판매 신고번호 : 2020-서울동작구-2021<br>
        대한민국 지사 고객센터(Seoul, Republic of Korea) : +82 10-2850-4250 | 아부다비 지사 고객센터(Abu Dhabi, UAE) : +971 56-386-7848 </a>
    </div>
    <!--/.Copyright-->

  </footer>